{% extends 'base.html' %}

{% block titleblock %}
Event Registration Page
{% endblock titleblock %}

{% block styleCSS %}
<style>
    .formClass {
        margin-top: 2%;
        margin-left: auto;
        margin-right: auto;
        width: 60%;
        height: 20%;
        border: 2px solid black;
        /* background-color: rgb(216, 151, 241); */
        background-color: rgb(145, 207, 126);

    }

    div {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    #heading {
        text-align: center;
    }

    .addBtn {
        margin-bottom: 1%;
    }
</style>

{% endblock styleCSS %}


{% block bodyblock %}
<div class="container-fluid formClass">
    <h1 id="heading">
        Event Registration Page
    </h1>
    <form method="post" action="/eventRegistration/">
        {% csrf_token %}
        <div class="form-group">
            <label for="exampleInputEmail1">Event Name</label>
            <input type="text" class="form-control" id="Name" name="eventName" aria-describedby=" emailHelp">
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">Description</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" name="desc" rows="1"></textarea>
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">Poster Link</label>
            <input type="url" class="form-control" id="link" name="posterLink" aria-describedby="emailHelp">
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">From</label>
            <input type="datetime-local" class="form-control" id="exampleInputEmail1" name="eventFrom"
                aria-describedby="emailHelp">
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">To</label>
            <input type="datetime-local" class="form-control" id="exampleInputEmail1" name="eventTo"
                aria-describedby="emailHelp">
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">Registration Deadline</label>
            <input type="datetime-local" class="form-control" name="eventDeadline" id="exampleInputEmail1"
                aria-describedby="emailHelp">
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">Host's Email ID</label>
            <input type="email" class="form-control" id="hostEmail" name="hostID" aria-describedby="emailHelp">
        </div>
        <button type="submit" class="btn btn-primary addBtn">Submit</button>
    </form>

</div>

{% endblock bodyblock %}