{% extends 'base.html' %}


{% block titleblock %} Events Page
{% endblock titleblock %}

{% block bodyblock %}
<style>
  table,
  th,
  td {
    margin: 5px;
    padding: 10px 5px;
    border: 1px solid black;
  }
</style>
<div class="container-fluid">
  <h1>Events Page</h1>

  <table>
    <tr>
      <th>Participant ID</th>
      <th>Participant Name</th>
      <th>Contact Number</th>
      <th>Email ID</th>
      <th>Registration Type</th>
      <th>Number Of People</th>
    </tr>
    {% for i in members %}
    <tr>
      <td>{{i.pId}}</td>
      <td>{{i.name}}</td>
      <td>{{i.contact}}</td>
      <td>{{i.emailID}}</td>

      <td>{{i.registrationType}}</td>
      <td>{{i.noOfPeople}}</td>
    </tr>
    {% endfor %}
  </table>
</div>
{% endblock bodyblock %}