{% extends 'base.html' %}


{% block titleblock %} Events Page
{% endblock titleblock %}

{% block bodyblock %}
<style>
    table,
    th,
    td {
        margin: 5px;
        padding: 10px 5px;
        border: 1px solid black;
    }



    .formClass {
        margin-top: 2%;
        margin-left: auto;
        margin-right: auto;
        width: 60%;
        height: 20%;
        border: 2px solid black;
        /* background-color: rgb(216, 151, 241); */
        background-color: rgb(145, 207, 126);

    }

    h1 {

        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    div {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    #heading {
        text-align: center;
    }

    .addBtn {
        margin-bottom: 1%;
    }
</style>
<div class="container-fluid formClass">
    <h1>Events DashBoard</h1>


    <form method="post" action="/events/">
        {% csrf_token %}
        <div class="form-group">
            <label for="exampleInputEmail1">Event Name</label>
            <input type="text" class="form-control" id="Name" name="eventName" aria-describedby=" emailHelp">
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">Password</label>
            <textarea type="password" class="form-control" id="exampleFormControlTextarea1" name="password"
                rows="1"></textarea>
        </div>
        <button type="submit" class="btn btn-primary addBtn">Submit</button>

    </form>
</div>
{% endblock bodyblock %}